body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.header {
    height: 5vh; /*change proportion later as needed*/
    font-size: 3rem;
    padding: 2rem;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
}

.top.siteIntroHolder {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    padding-inline: 38vh;
}

.top.sub.text.left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
    margin: 1rem;
}

.sub.top.introTitle {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAf8;
}

.sub.top.introSubText {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sub.top.introButton {
    background-color: #3882F6;
    color: #F9FAf8;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5rem;
    padding-inline: 1rem;
}

.buttonContainment {
    display: inline-block
}

.sub.top.image.right {
    flex: 1;
    border-radius: 1rem;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 2px;
    margin: 1rem;
}

#introImage {
    height: calc(30vh - 32px);
    width: calc(100% - 32px); /*If using an image with a better aspect ratio, swap to auto to follow it*/
    margin-inline: 2rem;
}

div#subHeaderLeft {
    padding: 1rem;
    font-size: 24px;
    color: #F9FAf8; /*1.5rem equivalent is 24px*/
}

div#subHeaderRight {
    padding: 1rem;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

div.subheaderRightLink {
    padding-inline: 1rem;
}

.top {
    background: #1f2937;
    color: #F9FAf8;
}

.middle.imgBarHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
}

.middle.barTitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 1rem;
    margin-top: 1rem;
}

.middle.imgBar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.middle.bar.member {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 10rem;
}

.middle.image {
    border-radius: 8px;
    border-color: #3882F6;
    border-width: 2px;
    border-style: solid;
    height: 10rem;
    width: 10rem;
    margin: 0.5rem;
}

.middle.subtext {
    font-size: 18px;
    color: #1F2937;
    font-weight: lighter;
    text-align: center;
}

.middle.quoteHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 5rem;
    padding-bottom: 5rem;;
}

.middle.quoteParagraph{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    width:85vh;
    font-style: italic;
}

.middle.quote.creditHolder{
    display: flex;
    justify-content: flex-end;
    width: 85vh;
}

.middle.quoteCredit{
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
}

.bottom.callHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bottom.callBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAf8;
    padding-inline: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}

.bottom.callTitle{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAf8;
}

.bottom.callText{
    font-size: 18px;
    color: #F9FAf8;
}

.bottom.callButton {
    background-color: #3882F6;
    color: #F9FAf8;
    border: solid;
    border-radius: .5rem;
    border-width: 2px;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5rem;
    padding-inline: 1rem;
    margin-inline-start: 3rem;
}

.bottom.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAf8;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bottom.footerText {
    font-size: 18px;
    color: #F9FAf8;
}